/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

.load__page {
    background: #fff;
    height: 100%;
    width: 100%;
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
}

/*.load__page img {
    height: 150px;
    width: 150px;
    -o-object-fit: cover;
    object-fit: cover;
    -webkit-animation: splash 5s linear infinite;
    animation: splash 5s linear infinite;
    -webkit-transform: scale(1.0);
    -ms-transform: scale(1.0);
    transform: scale(1.0);
}

@-webkit-keyframes splash {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    100% {
        -webkit-transform: scale(2.0);
        transform: scale(2.0);
    }
}

@keyframes splash {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
    100% {
        -webkit-transform: scale(2.0);
        transform: scale(2.0);
    }
}*/
